{% extends 'dashboard/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
 {% for message in messages %}
     {{message}}
 {% endfor %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"><h1>Log In Here</h1></legend>
      {{form|crispy}}
      
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">
        Login
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      &nbsp;&nbsp; <a class="ml-1" href="{% url 'account_signup' %}"><font class="text-primary">Create an Account</font></a>
    </small>
   <br>
  </div>
</div>
{% endblock content %}  