{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}
 <div style="margin-left:300px;margin-top:30px;">
<form class="form-inline my-2 my-lg-0" action="{% url 'search_food' %}" method="get">
    <input class="form-control col-lg-7" name="q" type="search" placeholder="Search Food By Adress" aria-label="Search">&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-success my-5 my-sm-0" type="submit"><i class="fas fa-search"></i> &nbsp;&nbsp;Search</button>
  </form>
</div>
 {% if object_list %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
  {% for detail in object_list %}
      <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="user d-flex flex-row align-items-center"><span><small class="font-weight-bold text-primary">&nbsp;User Name:-&nbsp;&nbsp;{{detail.user}}</small><br><small class="font-weight-bold">Contact Number:- &nbsp;&nbsp;{{detail.contact_number}}</small><br><small class="font-weight-bold">Address:- &nbsp;&nbsp;{{detail.address}}</small><br><small class="font-weight-bold">Food Detail:- &nbsp;&nbsp;{{detail.food_details}}</small> </div> <small  class="font-weight-bold text-success">Date and Time:-&nbsp;&nbsp;{{detail.donate_date}}</small>
        </div>
        <br>
        <a href="{% url 'request' %}" type="button" class="btn btn-secondary btn-m active" >Request For Food</a>
    </div>
     <br> 
    {% endfor %}
  {% else %}
  <br><br><br><br>
  <h1 class="font-weight-bold text-danger" style="margin-left:500px;"> No search Found </h1>
  {% endif %}
</div>
</div>
</div>
 
   
  
{% endblock content %}