<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Online Food Donation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
<style>
.nav{
  margin-left:700px;
}
.body{
  background-color: rgb(224, 219, 230);
}
</style>
</head>

<body class = "body">
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Online Food Donation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %} 
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'notification' %}">Notification({{noti_count}})</a>
          </li>
          <li class="nav-item" style="margin-left:700px;">
            <a class="nav-link active" aria-current="page" href="{% url 'home_authenticated'%}">Home</a>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Hello {{user.username}}</a>
              <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
          </li>
        </ul>
          {%else%}
          <ul class="nav" style="margin-left:740px;">
          <li class="nav-item">
            <a class="nav-link" style="padding-left:20px;" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="padding-left:20px;" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="padding-left:20px;" href="{% url 'account_login' %}">Login</a>
          </li>
        </ul>
          {% endif %}
        
        
       
      </div>
    </nav>
    
  </header>
  <br />
  <main>
    {% if messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </div>
    </div>
    {% endif %}
    
    {% block content %}
    {% endblock content %}

    {% if user.is_authenticated %}
    {% block home%}
    {% endblock home %}
    {% else %}
    {% block home_not_authenticated %}
    {% endblock home_not_authenticated %}
    {% endif %}
    
   

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>