{% extends 'dashboard/base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{user.username}} Please Fill This Form for food Request </legend>
        </fieldset>
        {{form|crispy}}
        <div class="form-group">
            <button href="" class="btn btn-secondary btn-m active" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>

{% endblock content %}